@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/Montserrat-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	src: url(fonts/Montserrat-italic-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Montserrat-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url(fonts/Montserrat-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url(fonts/Montserrat-normal-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Tinos';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/Tinos-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Tinos';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Tinos-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Tinos';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/Tinos-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

